body {
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 'Arial', 'sans-serif';
	background-image: url("/table.png");
	background-size: cover;
	text-align: center;
	font-size: 3em;
	color: white;
	font-weight: bold;
}

h1 {
	color: goldenrod;
	text-align: center;
	font-size: 2em;
	margin-top: .5em;
	margin-bottom: .3em;
}

#message-el {
	font-style: italic;
}

button {
	font-size: 40px;
	color: #016f32;
	width: 350px;
	background-color: goldenrod;
	border: none;
	padding-top: 10px;
	padding-bottom: 10px;
	font-weight: bold;
	border-radius: 5px;
	margin-bottom: 5px;
	margin-top: 5px;
}
